body {
  margin:50px;
  background-color: tan;
  font-family: 'Vollkorn SC', serif;
}
.img-thumbnail{
  border-color: pink;

}
.footer {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      position: fixed;
      text-align: center;
      width: 100%;
    }
h6 {
  font-family: 'Vollkorn SC', serif;
}

.crystals {
  height: 400px;
  width: 400px;
  float: right;
  position: relative;

}

.dialog {
  background-color: pink;
  border:33px;
  border-color: white;
}

h1 {
  color: white;
  font-size: 50px;
}
