body {
  background-color: tan;
  font-family: 'Vollkorn SC', serif;
}
.img-thumbnail{
  border-color: pink;

}
.footer {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      position: fixed;
      text-align: center;
      width: 100%;
    }
h6 {
  font-family: 'Vollkorn SC', serif;
}
